[submodule "src/libsam"]
	path = src/ext/libsam
	url = https://github.com/OpenSLAP/libsam
[submodule "src/ext/gosuvius"]
	path = src/ext/gosuvius
	url = https://github.com/OpenSLAP/gosuvius
[submodule "src/ext/monoplex"]
	path = src/ext/monoplex
	url = git@github.com:OpenSLAP/monoplex.git
